.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  text-align: left;
  overflow: hidden;
}
.editor {
  position: relative;
  overflow: visible;
  flex-grow: 1;
}
.textarea,
.highlighting {
  min-height: 200px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  overflow: hidden;
  border-style: none;
  background: transparent;
  padding: 0.1rem 3rem 0.1rem 0.5rem;
  margin: 0;
  white-space: pre;
  word-break: break-word;
}
.textarea {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  appearance: none;
  resize: none;
  color: rgba(0, 0, 0, 0);
  caret-color: black;
  outline: none;
}
.highlighting {
  z-index: 0;
  pointer-events: none;
  color: black;
}
.row.error.even,
.row.long.even {
  background-color: rgba(255, 0, 0, 0.3);
}
.row.error.odd,
.row.long.odd {
  background-color: rgba(255, 0, 0, 0.25);
}
.row.even {
  background-color: rgba(0, 0, 0, 0.1);
}
.row.odd {
  background-color: rgba(0, 0, 0, 0.05);
}
.rowMargin {
  padding: 0 0.5rem;
  display: block;
  position: absolute;
  right: 0;
  user-select: none;
}
.trokeeSplit {
  position: relative;
}
.trokeeSplit::before {
  content: '/';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  position: relative;
  left: -0.15em;
  overflow: visible;
  font-size: 1.5em;
  color: #778;
}
.syllable {
  position: relative;
}
.syllable.odd {
  color: rgb(0, 0, 0);
}
.syllable.even {
  color: rgb(100, 100, 100);
}
.invisible {
  visibility: hidden;
}
.syllableText {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 0;
}
.errorToken {
  background-color: red;
}
.hyphened {
  position: relative;
}
.hyphened::after {
  content: '-';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  position: relative;
  left: -0.2em;
  overflow: visible;
  font-size: 1.5rem;
  color: #667;
}
