.scrollView {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: left;
  overflow-y: hidden;
  overflow-x: auto;
}
.editor {
  position: relative;
  overflow: visible;
  font-size: 2rem;
  line-height: 3.5rem;
  flex-grow: 1;
}
.textarea,
.highlighting {
  min-height: 200px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  overflow: hidden;
  border-style: none;
  background: transparent;
  padding: 0.3em 0;
  margin: 0;
  white-space: pre;
  word-break: break-word;
}
.textarea {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  appearance: none;
  resize: none;
  color: rgba(0, 0, 0, 0);
  caret-color: black;
  outline: none;
  cursor: pointer;
}
.textarea,
.row {
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.highlighting {
  z-index: 0;
  pointer-events: none;
  color: #333;
}
.row.short {
  color: #5f5f64;
}
.row.error.even,
.row.long.even {
  background-color: rgba(255, 0, 0, 0.3);
}
.row.error.odd,
.row.long.odd {
  background-color: rgba(255, 0, 0, 0.25);
}
.row.even {
  background-color: rgba(0, 0, 0, 0);
}
.row.odd {
  background-color: rgba(0, 0, 0, 0.05);
}
.rowValidation {
  margin-left: 0.5em;
  display: inline-block;
  position: relative;
  user-select: none;
  z-index: 2;
  /*
  cursor: pointer;
  pointer-events: all;
  */
}
.trokee {
  position: relative;
}
.trokee.odd::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transform: skewX(-15deg);
}
.syllable {
  position: relative;
}
.invisible {
  visibility: hidden;
}
.syllableText {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 0;
}
.errorToken {
  background-color: red;
}
.hyphened {
  position: relative;
}
.hyphened::after {
  content: '-';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  position: relative;
  left: -0.1em;
  overflow: visible;
  font-size: 1.5rem;
  color: #667;
  transform: scaleX(75%);
}
