.container {
  width: 400px;
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
.textarea,
.highlighting {
  min-height: 200px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  overflow: hidden;
  border-style: none;
  background: transparent;
  padding: 0.1rem 0.5rem;
  white-space: pre-wrap;
}
.textarea {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  appearance: none;
  color: rgba(0, 0, 0, 0);
  caret-color: white;
}
.highlighting {
  z-index: 0;
  pointer-events: none;
  color: white;
}
.trokee.odd {
  background-color: transparent;
}
.trokee.even {
  background-color: black;
}
.syllableToken.odd {
  color: #ff7777;
}
.syllableToken.even {
  color: #7777ff;
}
