.container {
  margin: 1em 0.4em 0;
  font-size: 1rem;
  line-height: 1.2em;
  min-height: 2.4em;
  text-align: center;
}
.container a {
  color: #559;
  font-weight: inherit;
  text-decoration: underline;
}
.container a:hover {
  color: black;
}
.paragraph {
  margin: 0;
}
.strong {
  font-weight: bold;
}
