.heading {
  font-family: 'Pirata One', cursive;
  font-size: 3rem;
  text-align: center;
  margin: 0 0 1rem 0;
  color: rgb(51, 51, 51);
}
.intro {
  font-size: 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin-bottom: 1rem;
}
.buttons > * {
  flex-grow: 1;
}
